{% extends "core/base.html" %}

{% block titile %}{{author.name}}{% endblock titile %}

{% block content %}
<div>
    <h1> Tac gia {{author.name}}</h1>
</div>
<div>
    <h1> Truyen cung tac gia </h1>
    <div>
        {% for manga in mangas  %}
            <div class="col-sm-3 col-md-6", tyle="background-color:yellow;">
                <a href = "{% url 'manga:detail' manga.id %}">
                    <div> 
                        <img src = "{{manga.banner.url}}" class = "rounded-t-xl">
                    </div>

                    <div>
                        <h2> {{manga.name}} </h2>
                        <p> Số chương hiện có: {{manga.numberOfChapters}} <p>
                    </div>
                    
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}